<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Add Ticket</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/addTicketStyles.css}">
    </head>
    <body th:background="@{/images/bg.jpg}">

        <nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container">
                        <a class="navbar-brand" href="/Home">
                            <img th:src="@{/images/metro_logo.png}" alt="" width="50" height="45">
                        </a>
                    </div>
                    <ul class="navbar-nav">
                       <li class="nav-item">
                            <a class="nav-link" href="/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Station">Stations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Subscription">Subscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/BasicTicket">Tickets</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="login.html" >Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br><br><br>

    <center>
        <div class="card" style="width: 25rem ;border: 2px solid maroon">
            <div class="card-body">
                <h4 class="card-title">Add new Ticket</h4>
                <form method="get" action="/AddNewBasicTicket">
                <input class="custome" type="text" name="ticketPrice" placeholder="Price.." >
                <input class="custome" type="text" name="ticketLimit" placeholder="Limit of station.." >
                <br>
                <input class="sub" type="submit" value="submit">
                </form>
            </div>
        </div>
    </center>

</body>
</html>
